<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>Servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>Servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDelete</servlet-name>
        <servlet-class>Servlet.AdminDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPackets</servlet-name>
        <servlet-class>Servlet.AdminPackets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPacketsEdit</servlet-name>
        <servlet-class>Servlet.AdminPacketsEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUsers</servlet-name>
        <servlet-class>Servlet.AdminUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUsersDelete</servlet-name>
        <servlet-class>Servlet.AdminUsersDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDelete</servlet-name>
        <url-pattern>/admin-delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPackets</servlet-name>
        <url-pattern>/admin-packets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPacketsEdit</servlet-name>
        <url-pattern>/admin-packets-edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUsers</servlet-name>
        <url-pattern>/admin-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUsersDelete</servlet-name>
        <url-pattern>/admin-user-delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
